<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Flashcard Dictionary</title>
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">        
    </head>

    <body>
        <div class="container">
            <div class="title">
                <h1 id="heading">Welcome</h1>
                <div class="subbox">
                    <button type="button", class ="box", id ="Home"> <span>Home</span></button>
                    <button type="button". class="box", id="Add/Edit"><span>Add/Edit</span></button>
                    <button type="button", class="box", id="Flashcards"><span>Flashcards</span></button>
                </div>
            </div>
        </div>
    </body>
</html>